.ArticleDetails {
  min-height: 100%;
}

.avatarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.articleInfo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 0 auto;
}

.avatar {
  margin: 0 auto;
}

.block {
  margin-bottom: 16px;
}
