.ArticleList {
  padding-top: 15px;
}

.LIST {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.GRID {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 30px;
  justify-content: space-between;
}
